:root {
  --background-color: #32a4dc;
  --color: #000817;
  --secondary-color: #ffffff;
}

.flex-container {
  display: inline-flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: monospace;
  font-size: 2rem;
}

.link {
  display: inline-flex;
  padding: 1rem 2rem;
  margin: 0 2rem;
  text-decoration: none;
  font-family: monospace;
  font-size: 1.5rem;
  color: var(--color);
}

.head {
  margin-top: 3rem;
}
