
li {
  background-color: white;
  list-style-type: none;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem; 
  width:fit-content;
  transition: font-size 0.5s;
}

li:hover {
  cursor: pointer;
  font-size: 1.2rem;
}



.green {
  background-color: rgb(161, 224, 161);
}

.red {
  background-color: rgb(235, 147, 147);
}

.white {
  background-color: white;
}